body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    max-width: 1440px;
}

.main-logo {
    width: 100%;
    max-width: 420px;
    height: auto;
}

/* ROLE CARD */
.role-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}


.role-card {
    width: 220px;
    height: 160px;
    background: #FFD85A;
    border-radius: 15px;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.role-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.role-icon {
    width: 73px;
    height: 73px;
}